<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('collector_id', '')
        Alpine.store('sensor_id', '')
        Alpine.store('record_id', '')
    })
</script>

<!-- 
   We need to query the graph using HTMX, with query that is parametrized by
   three datapoints: a collector ID, a sensor ID, and a record ID to display on
   the graph.
   
   The options for selecting collectors, sensors, and record IDs are dynamic and so must
   be queried as well.
   
   The steps are as follows:
      1. Populate a select component with options for collectors queries from the backend.
      2. Use the selected collector to populate a second select for sensors.
      3. Use the selected sensor to populate a third select for record IDs.
      4. Use the selected options to query the graph.
   -->
   <div class="flex flex-col bg-gray-100 p-4 rounded-lg border border-gray-500">

    <div
       hx-get="/snippets/collector_select_options" 
       hx-target="#collector_select_container" 
       hx-trigger="load"
       class="flex justify-between">

       <div id="collector_select_container" class="rounded-lg p-2 bg-gray-200 border border-gray-400">
          <!-- Collector select will be injected here-->
       </div>

       <div id="sensor_select_container" class="rounded-lg p-2 bg-gray-200 border border-gray-400">
          <!-- Default select. -->
          <select id="sensor_select" class="bg-gray-200 p-2">
             <option value="" disabled>Select a Sensor</option>
          </select>
       </div>

       <div id="record_select_container" class="rounded-lg p-2 bg-gray-200 border border-gray-400">
           <!-- Default select. -->
          <select id="record_select" class="bg-gray-200 p-2">
             <option value="" disabled>Select a Record</option>
          </select>
       </div>
    </div>
</div>
<div id="graph_container" hx-get="/snippets/graph" hx-trigger="every {{ refresh_s }}s" hx-vals="js:{collector_id: Alpine.store('collector_id'), sensor_id: Alpine.store('sensor_id'), record_id: Alpine.store('record_id')}">
    <!-- The result from the graph query will be injected here -->
</div>