<div class="flex flex-col gap-2 w-full bg-gray-100 p-4 rounded-lg border border-gray-500">
    <h2 class="text-xl font-bold">
        Summary
    </h2>
    <div class="flex flex-col">
        <div class="flex justify-between w-full">
            <span>
                Total Collectors
            </span>
            <span>
                {{ network_summary.total_collectors }}
            </span>
        </div>
        <span class="w-full h-[1px] bg-gray-300 rounded-sm mt-1 mb-2"></span>
    </div>
    <div class="flex flex-col">
        <div class="flex justify-between">
            <span>
                Total Sensors
            </span>
            <span>
                {{ network_summary.total_sensors }}
            </span>
        </div>
        <span class="w-full h-[1px] bg-gray-300 rounded-sm mt-1 mb-2"></span>
    </div>
    <div class="flex flex-col">
        <div class="flex justify-between">
            <span>
                Total Records
            </span>
            <span>
                {{ network_summary.total_records }}
            </span>
        </div>
        <span class="w-full h-[1px] bg-gray-300 rounded-sm mt-1 mb-2"></span>
    </div>
    <div class="flex flex-col">
        <div class="flex justify-between">
            <span>
                Total Errors
            </span>
            <span>
                {{ network_summary.total_errors }}
            </span>
        </div>
    </div>
</div>