body {
  text-align: center;
  font-family: Monospace;
  
}

.banner {
  background-color: #dedede;
  color: black;
  padding: 10px 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.banner h1 {
  margin: 0;
  font-size: 12px;
}

.container {
  width: 300px;
  margin: 80px auto 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: #f6f6f6;
}

.header {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 40px;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  margin-left: 35px;
  display: block;
  margin-bottom: 1px;
}

.input-field input {
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 78%;
  padding: 10px;
  background-color: #a7eea7;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: Monospace;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

.submit-btn:hover {
  background-color: #45a049;
}

.link {
  display: block;
  font-size: 12px;
  margin-top: 15px;
  color: black;
}