# QuestDB connection settings
QUESTDB_HOST=localhost
QUESTDB_PORT=8812
QUESTDB_USER=pguser
QUESTDB_PASSWORD=password
QUESTDB_DB_NAME=qdb

# Database schema settings
COLLECTOR_CAPACITY=1024
SENSOR_CAPACITY=16

# Display settings
ACTIVE_DEVICE_POLLING_THRESHOLD=3