<header>
    <nav class="w-full flex items-center h-20 px-8 justify-between">
        <div>
            <a href="/" class="flex flex-row items-center">
                <img src="{{ url_for('static', file_path='images/team_logo.png') }}" alt="Team Logo" class="aspect-square h-16">
                <span class="text-xl bold mx-2">{{ node_name }}</span>
            </a>
        </div>
        <div class="justify-self-end">
            <a href="about" class="text-xl bold mx-2">About</a>
            <a href="login" class="text-xl bold mx-2">Login</a>
            <a href="dashboard" class="text-xl bold mx-2">Dashboard</a>
        </div>
    </nav>
</header>