{% extends 'base/base.html' %} 

{% block title %}Home - OpenCollector{% endblock %} 

{% set page_heading = "Dashboard" %}

{% block body%}

<div class="flex flex-col md:flex-row px-12 py-8 justify-around gap-8">

    <div class="flex flex-col gap-8 ">

        <div hx-get="/snippets/network_summary" hx-trigger="load, every {{ refresh_s }}s" class="w-full min-w-[300px]">
            Loading Network Summary...
        </div>
            
        <div hx-get="/snippets/collector_summary" hx-trigger="load, every {{ refresh_s }}s" class="w-full">
            Loading Collectors...
        </div>
    </div>

    <div class="order-first md:order-last">
        <div class="mt-2">
            {% include 'snippets/graph.html' %}
        </div>
    </div>

</div>

{% endblock body %}